.ListingInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 100%;
  margin: 0.4em;
  padding: 1.5em 0;
}

.ListingInfo > img {
  height: 80%;
  width: ;
}

.ListingInfo > p {
  margin: 1em;
  padding: 1em;
  width: 40%;
  line-height: 25px;
  color: #4d4d4d;
}
