.About {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5eceb;
  height: 80vh;
  background-image: url('../../assets/aboutImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.About .hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 5em;
  width: 35%;
}
.About .hello h2 {
  padding: 0.5em;
  color: #4d4d4d;
}
.About .hello p {
  color: #4d4d4d;
}

.aboutImage img {
  width: 500px;
  height: 333px;
  padding-top: 0.5em;
}
