$red: #c56b6c;
$white: #f5eceb;

.Splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  background-color: $red;

  img {
    width: 280px;
    height: 170px;
  }

  a {
    width: 15em;
    height: 3em;
    text-decoration: none;
    color: $white;
    border: 0.15em solid $white;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 1em;
  }
}
