.Splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  background-color: #c56b6c; }
  .Splash img {
    width: 280px;
    height: 170px; }
  .Splash a {
    width: 15em;
    height: 3em;
    text-decoration: none;
    color: #f5eceb;
    border: 0.15em solid #f5eceb;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 1em; }
