.Contact {
  background-color: #f6f6f6;
  text-align: center;
  height: 90vh;
  width: 100%;
  border: thin solid #8b8684;
  border-top: none;
}
.Contact h2 {
  margin: 0;
  padding: 2em 0;
  font-size: 2em;
  color: #0d7dc7;
}
.Contact .contactInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}
.Contact .contactInfo img {
  width: 325px;
  height: 220px;
}
.Contact .contactInfo form {
  display: flex;
  flex-direction: column;
}
.Contact .contactInfo .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3em;
}
.Contact .contactInfo .info p {
  width: 20em;
  text-align: left;
}
.Contact .contactInfo .info .icon {
  margin-top: 1em;
}
.Contact .contactInfo .info .icon a {
  color: #527fc0;
}
.Contact .contactInfo .info .icon > span {
  margin-left: 1em;
  margin-bottom: 1em;
}
.Contact .contactInfo form {
  align-items: center;
}
.Contact .contactInfo form input {
  border-radius: 0.5em;
  border: 0px;
  margin-bottom: 1.5em;
  padding: 0.5em;
  width: 17em;
  height: 2em;
}
.Contact .contactInfo form textarea {
  border-radius: 0.5em;
  border: 0px;
  margin-bottom: 1.5em;
  padding: 0.5em;
  width: 17em;
  height: 4em;
}
.Contact .contactInfo form button {
  border-radius: 0.5em;
  width: 18em;
  height: 3em;
  border: none;
  outline: none;
  background-color: #527fc0;
  color: #ffffff;
}

.Contact .contactInfo form button:hover {
  background-color: #3c66a3;
  cursor: pointer;
}

.closingImage {
  display: flex;
}
