.Footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .Footer .contact {
    display: flex;
    flex-direction: column; }
    .Footer .contact i {
      color: black;
      margin-right: 0.5em; }
  .Footer .footerLogo img {
    width: 10em; }
  .Footer .footerLogo p {
    font-size: 12px;
    width: 20em; }
  .Footer .social i {
    margin-right: 0.5em; }
