.Footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Footer .contact {
  display: flex;
  flex-direction: column;
}
.Footer .contact i {
  color: #527fc0;
  margin-right: 0.5em;
  margin-top: 0.2em;
}
.Footer .footerLogo img {
  width: 10em;
}
.Footer .footerLogo p {
  font-size: 12px;
  width: 20em;
}
.Footer .social i {
  margin-right: 0.5em;
}

.social i {
  color: #527fc0;
}

.icon {
  margin-top: 1.2em;
}
