.Footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.Footer .contact {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
}
.Footer .contact i {
  color: #0a5f97;
  margin-right: 0.5em;
  margin-top: 0.2em;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-right: 3em;
}

.Footer .footerLogo img {
  width: 200px;
  height: 140px;
}
.Footer .footerLogo p {
  font-size: 8px;
  text-align: center;
}
.Footer .social {
  margin-right: 4em;
}

.social i {
  color: #0a5f97;
  margin-right: 0.5em;
}

.icon {
  margin-top: 1.2em;
}

.Footer h3 {
  padding: 0;
  margin: 0;
  color: #515352;
}
