.Houses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 2em;
}

.item > img {
  height: 10em;
  width: 15em;
}
