$red: #c56b6c;
$white: #f5eceb;
$grey: #8c8685;

.Nav {
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: thin solid $grey;
  img {
    width: 180px;
    height: 50px;
    margin-left: 2em;
  }

  a {
    margin-right: 2em;
    text-decoration: none;
    color: #303130;
  }
}
