.Nav {
  width: 100%;
  background-color: #ffffff;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav img {
  width: 250px;
  height: 58px;
  margin-left: 2em;
}
.Nav a {
  margin-right: 2em;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 1.2em;
}
